<nb-layout>
    <nb-layout-header>
        <div class="navParts">
                <img alt="cpu" class="navIcons navIcons-active" src="../../assets/images/chip.svg" (click)="navToCPU();">
                <img alt="gpu" class="navIcons" src="../../assets/images/gpu.png" (click)="navToGPU();">
            <img alt="ram" class="navIcons" src="../../assets/images/ram.svg" (click)="navToRAM();">
            <img alt="storage" class="navIcons" src="../../assets/images/storage.svg" (click)="navToStorage();">
            <img alt="mb" class="navIcons" src="../../assets/images/mob.svg" (click)="navToMB();">
            <img alt="ps" class="navIcons" src="../../assets/images/supply.svg" (click)="navToPowerSupply();">
            <img alt="case" class="navIcons" src="../../assets/images/desktop.svg" (click)="navToCase();">
        </div>
    </nb-layout-header>

    <nb-sidebar>
        <div>
            <h2 class="sideBarTitle">Chosse Your CPU</h2>
        </div>

        <div class="rolePicked">
            <div class="brandSelection" [ngClass]="{'activeLink': amdChecked}" (click)="amdFilterList()">
                <h4 style="text-align: center;">AMD</h4>
                <img src="../../assets/images/amd.png" alt="cpuBrand" style="width: 100%; padding: 25px;">
            </div>
            <div class="brandSelection" [ngClass]="{'activeLink': intelChecked}" (click)="intelFilterList()">
                <h4 style="text-align: center;">Intel</h4>
                <img src="../../assets/images/intel.png" alt="cpuBrand" width="120%">
            </div>
        </div>


        <div class="btnGroup">
            <button class="backBtn" nbButton status="basic" (click)="backToUsageSelection()">Back</button>
            <button class="nextBtn" nbButton status="success" (click)="nextToGpuSelection()">Next</button>
        </div>

    </nb-sidebar>
    <nb-layout-column>
        <nb-card>
            <table data-source="filteredCpuList">
                <tr *ngFor="let cpu of filteredCpuList; let i = index;">
                    <div class="selection">
                        <nb-radio status="basic" [value]="cpu.cpuId" (click)="cpuSelected(filteredCpuList[i])">
                            <td class="productPrice">
                                <p>{{filteredCpuList[i].cpuPrice}}</p>
                            </td>
                            <td class="productName">
                                <p>{{filteredCpuList[i].cpuName}}</p>
                            </td>
                        </nb-radio>
                    </div>
                </tr>
            </table>
        </nb-card>
    </nb-layout-column>
</nb-layout>