<nb-card>
  <nb-card-body>
    Test Card can not be here
  </nb-card-body>
</nb-card>
<nb-layout>
    <nb-layout-header fixed>Company Name</nb-layout-header>

    <nb-sidebar>Sidebar Content</nb-sidebar>

      <!-- Page Content <button nbButton>Hello World</button> -->

    <nb-layout-column>
      This is nb-layout-column
      <br>
      Page Content <button nbButton>Hello World</button>
    </nb-layout-column>

</nb-layout>

<nb-card>
  <nb-card-body>
    nb-card can be here
  </nb-card-body>
</nb-card>
<!-- <nb-card>
  <nb-card-body>
    Test Card
  </nb-card-body>
</nb-card> -->
<!-- <h1>Allen Wang Transferred to our Team Repository</h1>
<h2>Test If OPS Guest Allows to access github</h2> -->