<div class="stepper">
    <nb-stepper orientation="horizontal" [linear]="false">
            <nb-step label="Select CPU"></nb-step>
            <nb-step label="Select GPU" class="step completed"></nb-step>
            <nb-step label="Select RAM"></nb-step>
            <nb-step label="Select MotherBoard"></nb-step>
            <nb-step label="Select Storage"></nb-step>
            <nb-step label="Select Power Supply"></nb-step>
            <nb-step label="Select Case"></nb-step>
    </nb-stepper>
</div>